.become-student {
	&__form-row {
		margin-top: 5px;
	}

	&__add-subject-button {
		margin-left: 20px;
	}

	.select--primary {
		border: 1px solid lightgrey;
		margin: 10px 0;

		select {
			height: 30px;
		}
	}
}
