// Palette

$palette: (
    pureWhite: #FFFFFF,
    paper: #F4F4EF,
    fadedNavy: #444C5C,
    warmYellow: #E1B16A,
    charcoal: #353C3F
);

@function palette($color) {
    @return map-get($palette, $color);
}
