.footer {
	background-color: #353C3F;
	color: white;
    width: 100%;
    margin-top: auto;

	&__copyright {
		text-align: center;

		@include breakpoint(sm) {
			text-align: left;
		}
	}

	&__designed-by {
		text-align: center;
		@include breakpoint(sm) {
			text-align: right;
		}
	}
}
