.heading {
	background-color: palette('fadedNavy');
	color: palette('pureWhite');
	padding: 15px;
	width: 100vw;
	position: fixed;
	z-index: 100;

	@include breakpoint(sm) {
		position: fixed;
		text-align: center;
		padding: 15px 15px 0px 15px;
	}

	&__branding {
		&--primary {
			font-weight: 700;
			font-size: 3rem;
			display: inline-block;
			line-height: 40px;

			@include breakpoint(sm) {
				font-size: 8rem;
				max-width: 100%;
				display: block;
				line-height: initial;
			}
		}
		&--secondary {
			display: none;

			@include breakpoint(sm) {
				display: block;
				font-size: 1.4rem;
				font-weight: 300;
				letter-spacing: 4px;
				word-spacing: 5px;
				padding-bottom: 15px;
				border-bottom: 1px solid white;
			}
		}
	}

	&__hamburger {
		border: 1px solid white;
		border-radius: 10px;
		float: right;
		width: 40px;
		height: 40px;
		cursor: pointer;
		text-align: center;
		font-size: 2.5rem;
		line-height: 43px;

		&.open {
			background-color: lighten(palette('fadedNavy'), 15%);
		}

		@include breakpoint(sm) {
			display: none;
		}
	}

	&__navigation-container {
		color: white;
		background-color: rgba(68,76,92, 100);
		z-index: 99;

		@include breakpoint(sm) {
			padding-top: 146px;
			width: 100%;
			position: fixed;
			height: auto;
			background-color: palette('fadedNavy') !important;
		}
	}

	&__navigation {
		height: 100vh;
		width: 100%;
		display: none;

		&.open {
			display: block;
			background-color: palette('fadedNavy');
		}

		@include breakpoint(sm) {
			display: block;
			height: auto;
		}

		ul {
			margin-top: 15px;
			list-style: none;
			padding: 0;
			@include breakpoint(sm) {
				margin-bottom: 15px;
				text-align: center;
			}

			li {
				padding: 15px 0;
				border-top: 1px solid palette('pureWhite');
				@include breakpoint(sm) {
					border: none;
					padding: 0;
					display: inline;
					margin: 0 43px;
				}
				a {
					color: white;
				}
			}

			li:last-child {
				border-bottom: 1px solid palette('pureWhite');
				@include breakpoint(sm) {
					border: none;
					margin-right: 0px;
				}
			}

			li:first-child {
				@include breakpoint(sm) {
					margin-left: 0px;
				}
			}

		}
	}
}

.mobile-heading-padding {
	padding-top: 70px;
	height: 0px;
	width: 0px;

	@include breakpoint(sm) {
		padding-top: 195px;
	}
}
