.admin {
	margin-top: 20px;
	margin-bottom: 20px;

	&__main-panel {
	}

	&__nav-panel {
		text-align: center;
		color: white;

		.nav-row {
			background-color: palette('fadedNavy');

			&:hover, &:focus {
				background-color: lighten(palette('fadedNavy'), 15%);
			}
		}

		.nav-link {
			color: white;

			&:hover, &:focus {
				text-decoration: underline;
				color: white;
			}
		}
	}
}
