select, input{
	display: block;
	margin: 10px auto;
	width: 100%;
	height: 50px;
}

label {
	display: block;
	margin-left: 20px;

	&.file-upload-button {
		margin-left: 0;
		cursor: pointer;
		background: #8893a9;
		color: white;
		border: none;
	    font-weight: 100;
    	font-size: 1.8rem;
		padding: 0;
		border-radius: 25px;
		height: 50px;
	    line-height: 50px;
	    padding-left: 25px;
	}
}

textarea {
	border: 1px solid lightgrey;
	border-radius: 25px;
	width: 100%;
	padding: 10px 20px;
	margin: 10px auto;

	&:focus {
		outline: none;
	}
}

input {
	border: 1px solid lightgrey;
	border-radius: 25px;
	padding-left: 25px;

	&.cta {
		&--primary {
			background: palette('fadedNavy');
			background: linear-gradient(to right, palette('fadedNavy') , lighten(palette('fadedNavy'), 15%));
			color: white;
			border: none;
		    font-weight: 100;
	    	font-size: 1.8rem;
			padding: 0;
		}
	}

	&.inputfile {
		display: none;
	}

	&:focus {
		outline: none;
	}
}

select {
   background: transparent;
   border: none;

   &:focus {
	   outline: none;
   }
}

.rounded {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.select--primary {
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	margin: auto;
    padding-left: 15px;
	background: rgba(255,255,255,0.8) url(../../images/dropdown_graphic.png) no-repeat 101% 50%;
	background-size: contain;
}
